.Header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: nowrap;
 padding: 20px 0px;
 border-bottom: 1px solid rgb(226, 226, 226);
}
Header .header_center {
 font-size: 35px;
}